#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# db dump
# db_stbarbara.sql

# db structure
# project.txt

# dependencies
vendor
node_modules
package-lock.json
composer.lock
