<!DOCTYPE html>
<html>
<head>
	<title>401 Unauthorized</title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Nunito');
		.container {
			font-family: 'Nunito', sans-serif;
			font-size: 4.5em;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -moz-transform: translateX(-50%) translateY(-50%);
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		}
	</style>
</head>
<body>
<div class="container">
    <span><b style="color: red">401</b> Unauthorized</span>
</div>

</body>
</html>