/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	body {
		overflow-x: hidden !important;
	}
	
	nav#sidebar {
		width: 120px !important;
		margin:0 !important;
	}	

	.page-content .section, .page-content .container-fluid, .page-content .container-fluid .row [class*="col-"] {
		padding: 0 !important;
	}

	/*  */
	.dataTables_filter label, .dataTables_filter input {
		width: 100% !important;
		/* margin-left: -15px !important; */
		padding: 0 !important;
	}

	.dataTables_wrapper .dataTables_length {
		display: none !important;
	}

	* {
		font-size: 0.7rem !important;
		text-align: left !important;
	}

	.login-page * {
		font-size: 5.5vw !important;
	}

	.login-page h1 {
		font-size: 8vw !important;
	}
	
	.dashboard-panel {
		height: 30vh !important;
	}

	.login-panel {
		height: 70vh !important;
	}

	.tab-content .d-flex {
		width: 100% !important;
	}

	a.pr-2.pb-2.pt-2 {
		width: 50% !important;
	}

	nav#sidebar.shrinked {
		/* width: 100vw !important; */
		display: none;
		/* height: 120vh !important;
		z-index: 999 !important;	
		position: absolute !important;
		top: 0 !important; */
	}	
	
	nav#sidebar.shrinked ul {
		width: inherit !important;
	}

	nav#sidebar.shrinked ul a {
		padding-left: 30px !important;
		text-align: left !important;
	}

	nav#sidebar.shrinked .sidebar-header .title {
		display: block !important;
	}

	nav#sidebar.shrinked .sidebar-header {
		padding: 40px 20px !important;
	}
	
	.dataTables_filter label:after {
		left: 7px !important;
		top: 0px !important;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	/*  */


	nav#sidebar.shrinked {
		display: none;
	}	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
	nav#sidebar.shrinked .sidebar-header .title {
		display: block !important;
	}


	nav#sidebar {
		width: 100px !important;
		margin:0 !important;
		text-align: left !important;
	}

	nav#sidebar.shrinked {
		/* width: 100vw !important; */
		display: none;
		/* height: 120vh !important;
		z-index: 999 !important;	
		position: absolute !important;
		top: 0 !important; */
	}	
	
	/*  */
	nav#sidebar ul#fixed-sidebar {
		position: inherit;
		bottom: 0;
		left: 0;
		background: #2d3035;
		width: 100% !important;
		margin: 0;
	}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	/*  */
	body {
		font-size: .8rem;
	}

	nav#sidebar {
		width: 200px !important;
		text-align: left !important;
	}
	
	nav#sidebar li a {
		padding: 10px 20px;
	}

	.dashboard-panel {
		height: 100vh !important;
	}

	.login-panel {
		height: 100vh !important;
	}	

	nav#sidebar ul#fixed-sidebar {
		position: inherit;
		bottom: 0;
		left: 0;
		background: #2d3035;
		width: 100% !important;
		margin: 0;
	}
 }

@media (max-width: 1199px){
	nav#sidebar .sidebar-header .title {
		display: block !important;
	}

	nav#sidebar .sidebar-header {
		padding: 30px 20px;
	}	

	nav#sidebar{
		width: 150px !important;
	}

	nav#sidebar ul a {
		text-align: left !important;
		padding: 10px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	/*  */
	nav#sidebar {
		width: 150px !important;
		margin:0 !important;
	}
}